body {
  font-family: "Open Sans";
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
}


/* Navbar (title, searchbar, toggle filter)*/

nav, h1, h2, h3 {
  font-family: "Cinzel";
}

.navbar {
  margin-bottom: 0;
  color: #333;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-search {
  margin-top: 14px;
  min-width: 100px;
  width: calc(100vw - 210px);
  background: transparent;
  border: 0;
  outline: none;
  border-bottom: 2px solid #999;
  font-family: "Open Sans";
}

.navbar-search:active, .navbar-search:focus {
  border-bottom-color: rgb(132, 175, 226);
}

.toggle-filters {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 3px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
}


/*Spell filters*/

.filters-show {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.filters-hide {
  display: none;
}

.spell-filters {
  color: #eee;
  background: #999;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.spell-filter, .clear-filters {
  margin: 0px 5px;
  text-align: center;
  border-radius: 5px;
  transition: .3s all;
  flex: 1;
  flex-basis: auto;
  padding: 2px 4px;
}

.spell-filter:hover, .clear-filters:hover {
  cursor: pointer;
}

.active-filter {
  background: #eee;
  color: #999;
}


/*Spells*/

#spell-container {
  padding-top: 10px;
  height: calc(99vh - 50px);
  overflow-y: auto;
}

.spell {
  border-top-width: 5px;
  margin: 0;
  overflow: hidden;
  display: inline-block;
  height: 40px;
}

.show-spell {
  height: 66vh;
}

.spell-name {
  font-size: 2.5ex;
  color: #fff;
  margin-bottom: -4px;
  height: 26px;
  overflow: auto;
}

.spell-level {
  color: #ddd;
  padding: 0;
  margin: 0;
}

.spell-name, .spell-level {
  text-align: center;
  font-family: "Cinzel";
  font-weight: bold;
}

.spell-info-box {
  margin: 0 auto;
  background: #fff;
  color: #333;
  border-bottom: 2px solid #999;
}

.spell-info {
  height: 21px;
  overflow: auto;
}

.spell-icon {
  float: left;
  margin-top: 2px;
  margin-left: 5px;
  font-size: 1.2em;
  margin-right: 20px;
}

.spell-desc {
  height: calc(66vh - 148px);
  overflow: auto;
  margin: 0 auto;
  padding-left: 5px;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cantrip {
  background: #6C7A89;
  border: 10px solid #6C7A89;
}

.level1 {
  background: #a46d96;
  border: 10px solid #a46d96;
}

.level2 {
  background: #9371a7;
  border: 10px solid #9371a7;
}

.level3 {
  background: #7168a1;
  border: 10px solid #7168a1;
}

.level4 {
  background: #6679a0;
  border: 10px solid #6679a0;
}

.level5 {
  background: #6692a0;
  border: 10px solid #6692a0;
}

.level6 {
  background: #6aa270;
  border: 10px solid #6aa270;
}

.level7 {
  background: #8da168;
  border: 10px solid #8da168;
}

.level8 {
  background: #a48e6d;
  border: 10px solid #a48e6d;
}

.level9 {
  background: #a27269;
  border: 10px solid #a27269;
}

@media (min-width: 600px) {
  #spell-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .spell {
    margin: 5px;
    width: 270px;
    max-width: 40vw;
    height: 360px;
    max-height: 66vh;
  }
  .spell-desc {
    height: 210px;
  }
}

@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }
}
