---
---
/* --- #Variables ---*/

$bg-color: #fff;
$primary-color: #333;
$secondary-color: #999;
$masthead-color: #f8f8f8;

$sans: 'Open Sans';
$small-caps: 'Cinzel';

%center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

%btn {
    border-radius: 15px;
    &:hover {
        border: 1px solid $bg-color;
    }
    &:active, &.is-active {
        background: $bg-color;
        color: $primary-color;
    }
}

@mixin spell-style($color) {
    background: $color;
    padding: 10px;
}

/* --- #Modules --- */

.fixed-top {
    position: fixed;
    top: 0;
}

.collapse__toggle {
    display: none;

    &:checked + .collapse {
        display: none;
    }
}

/* --- #Base --- */
body {
    overflow-x: hidden;
    font-family: $sans;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin:0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: $small-caps;
}


/* --- #Nav --- */

.masthead {
    width: 100vw;
    display: flex;
    flex-flow: column;
    &Row {
        height: 40px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 10px;

        &--top {
            grid-template-columns: 1fr 10fr .5fr;
            background: $masthead-color;
            border-bottom: 1px solid $secondary-color;
        }
    }
    &Toggle {
        @extend %center-all;
        @extend %btn;
        &:active, &.is-active {
            background: $secondary-color;
            color: $bg-color;
        }
    }
}

.filter-list {
    background: $secondary-color;
    color: $bg-color;
}

.filter {
    @extend %center-all;
    @extend %btn;
    &--clear {
        grid-column-end: -1;
    }
}

/* --- #Spell-Cards --- */
.cantrip {@include spell-style(#6c7a89);}

.level1 {@include spell-style(#a46d96);}

.level2 {@include spell-style(#9371a7);}

.level3 {@include spell-style(#7168a1);}

.level4 {@include spell-style(#6679a0);}

.level5 {@include spell-style(#6692a0);}

.level6 {@include spell-style(#6aa270);}

.level7 {@include spell-style(#8da168);}

.level8 {@include spell-style(#a48e6d);}

.level9 {@include spell-style(#a27269);}

.card-list {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    box-sizing: border-box;
    margin: 5px;
    width: 270px;
    max-width: 40vw;
    height: 360px;
    max-height: 66vh;
    padding: 10px;
    display: flex;
    flex-flow: column;

    &Collapse {
        display: grid;
        grid-template-rows: 1.2rem 5rem minmax(max-content,200px);
    }

    &Text {
        text-align: center;
    }

    &Info {
        border-bottom: 2px solid $secondary-color;

        &__label {
            width: 24px;
            text-align: center;
        }
    }

    &Body {
        background: $bg-color;
    }

    &Desc {
        overflow: auto;
    }
}

@media only screen and (min-width:768px){
    /* Turn off card toggle for non-mobile */

}