body {
  font-family: "Open Sans";
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

nav, h1, h2, h3 {
  font-family: "Cinzel";
}

@media (max-width: 350px) {
  .navbar-brand {
    display: none;
  }
  .navbar-search {
    margin-left: 30px;
  }
  .spell {
    
  }
  .spell-level, .spell-info-box, .spell-desc {
    /*display: none;*/
  }
}

@media (min-width: 350px) {
  .navbar-header {
    float: none;
  }
  .spell-info-box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
}

.navbar {
  margin-bottom: 0;
  color: #333;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-search {
  margin-top: 14px;
  min-width: 100px;
  width: calc(100% - 175px);
  background: transparent;
  border: 0;
  outline: none;
  border-bottom: 2px solid #999;
  font-family: "Open Sans";
}

.navbar-search:active, .navbar-search:focus {
  border-bottom-color: rgb(132, 175, 226);
}

.toggle-filters {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 3px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
}

.filters-show {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.filters-hide {
  display: none;
}

.spell-filters {
  color: #eee;
  background: #999;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.spell-filter, .clear-filters {
  margin: 0px 5px;
  text-align: center;
  border-radius: 5px;
  transition: .3s all;
  flex: 1;
  flex-basis: auto;
  padding: 2px 4px;
}

.spell-filter:hover, .clear-filters:hover {
  cursor: pointer;
}

.active-filter {
  background: #eee;
  color: #999;
}

.spell-container {
  padding-top: 10px;
  height: calc(99vh - 50px);
  overflow-y: auto;
}

.spell {
  background: #888;
  border: 5px solid #888;
  border-radius: 20px;
  margin: 0;
  overflow: hidden;
  display: inline-block;
}

.spell-info-box {
  align-content: center;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
}

.spell-name {
  font-size: 2.5ex;
  color: #fff;
}

.spell-name, .spell-level {
  text-align: center;
  font-family: "Cinzel";
  font-weight: bold;
  border-bottom: 1px solid #888;
}

.spell-info {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.spell-icon {
  float: left;
}

.spell-desc {
  height: 70%;
  width: calc(100% - 16px);
  overflow: auto;
  margin: 0 auto;
  margin-bottom: 2px;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
