---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF_8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Grimoire</title>
  <link href="https://fonts.googleapis.com/css?family=Cinzel|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/grimoire.css">
</head>

<body>

  <nav class="Masthead fixed-top">
    <div class="Masthead-row Masthead-row--top">
      <a class="Masthead-brand">
        <h1>Grimoire</h1>
      </a>
      <input class="Masthead-search" type="text" placeholder="Search" />
      <label class="Masthead-toggle" for="Masthead-collapse">
        <i class="fas fa-chevron-down"></i>
      </label>
    </div>

    <input type="checkbox" id="Masthead-collapse" class="Collapse-toggle" checked/>

    <div class="Collapse Collapse--filter">
      <ul class="Masthead-row FilterList">
        {% for lvl in site.data.levels %}
        <li class="Filter js-filter" data-filter-type="level" data-tag="{{ lvl.tag }}">
          {{ lvl.text }}
        </li>
        {% endfor %}
        <li class="Filter Filter--clear js-clear-filter">
          <i class="fas fa-times"></i>
        </li>
      </ul>

      <ul class="Masthead-row FilterList">
        {% for class in site.data.classes %}
        <li class="Filter js-filter" data-filter-type="class" data-tag="{{ class.name | downcase}}">
          {{ class.name }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>

  <ul class="CardList">

    {% for spell in site.spells %}
    <li class="Card {{ spell.level }}" data-tags="{{ spell.tags | join: ',' }}" data-visible="initial">

      <label class="Card-toggle" for="{{spell.title | handleize}}">
        <h2 class="Card-title">{{spell.title}}</h2>
      </label>
      <input class="Collapse-toggle" type="checkbox" id="{{spell.title | handleize}}" checked />
      <div class="Collapse Card-collapse">

        <h3 class="Card-title Card-title--sub">{{spell.subtitle}}</h3>
        <ul class="Card-body Card-list">
          <li class="Card-listItem">
            <i class="Card-icon far fa-clock"></i> {{spell.cast}}
          </li>
          <li class="Card-listItem">
            <i class="Card-icon fas fa-hourglass-half"></i>
            {{spell.duration}}
          </li>
          <li class="Card-listItem">
            <i class="Card-icon fas fa-asterisk"></i>
            {{spell.components}}
          </li>
          <li class="Card-listItem">
            <i class="Card-icon fas fa-bullseye"></i>
            {{spell.range}}
          </li>
        </ul>

        <div class="Card-body Card-desc">
          {{ spell.content }}
        </div>

      </div>
    </li>
    {% endfor %}

  </ul>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="{{site.baseurl}}/js/grimoire.js"></script>
</body>

</html>